﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@for (int i = 0; i < 5; i++)
{
    @i.ToString()
    <br />
}


@{
    string str = "";

    if (1 > 0)
    {
        str = "Hello World!";
    }
}

<p>@str</p>