﻿
@{
    ViewBag.Title = "Error2";
}

<h2>Error2</h2>
<h1 class="alert alert-danger text-danger">ERROR OCCUR WHILE PROCESSING REQUEST !</h1>
<h1 class="alert alert-danger text-danger">OOPS SOMETHING WENT WRONG !!</h1>

