﻿
@{
    ViewBag.Title = "Index of Student Controller";
}




<h2>Index of Student controller</h2>
<label>Total Students:</label>  @ViewBag.TotalStudents
<ul>
    @foreach (var std in ViewData["students"] as IList<Student>)
    {
        <li>
            @std.StudentName
        </li>
    }
</ul>

<h1>this is Index view page of student Controller</h1>
@Html.Partial("_PartialPage1");