﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h1>this is Index view page</h1>
@Html.Partial("_PartialPage1");

<h1>Inline Razor syntax</h1>

<h2>@DateTime.Now.</h2>
<h2>@DateTime.Now.ToShortDateString()</h2>




<h1>multistatement code block</h1>

@{
    var date = DateTime.Now.ToShortDateString();
    var message = "hello world";
}

<h2>today's date is: @date </h2>
<h3>@message</h3>


<h1>Display Text from Code Block</h1>

@{
    var d = DateTime.Now;
    string name = "Avneesh Srivastava";
    @:Today's Date Is:@date<br/>
    @:Name:@name
 }




