﻿@using OutputCacheFilter.Models
@model Std

@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<link href="~/Content/Site.css" rel="stylesheet" />
Text Area:
@Html.TextArea("Description", "This is dummy description.")
<br />
<h3>TextBox</h3>
@Html.Label("firstname", "FirstName")
@Html.TextBox("Firstname", "Avneesh", new { style = "background-color:Red", title = "Please enter your name" })
<br />
@Html.Label("LastName")
@Html.TextBox("Firstname", "Avneesh", new { @class = "redtextbox", @readonly = "true" })
<br />

@Html.Label("Checkbox")
@Html.CheckBox("isActive", false)
<br />

Male:   @Html.RadioButton("Gender", "Male")
Female: @Html.RadioButton("Gender", "Female")

<br />

StudentId:      @Html.Editor("StudentId")
<br />
Student Name:   @Html.Editor("StudentName")
<br />
Age:            @Html.Editor("Age")
<br />
Password:       @Html.Editor("Password")
<br />
isNewlyEnrolled: @Html.Editor("isNewlyEnrolled")
<br />
Gender:         @Html.Editor("Gender")
<br />
DoB:            @Html.Editor("DoB")

<br />
Password: @Html.Password("password")

@Html.LabelFor(m=>m.StudentName)
@Html.TextBoxFor(m=>m.StudentName)



